<div class="container">
  <button class="button3" (click)="navigateToHome()">Exit</button>
  <div class="content">
    <h1>Leaderboard</h1>
    <div class="score-list">
      <table class="score-table">
        <tr>
          <th class="tRank">Rank</th>
          <th class="tUser">User</th>
          <th class="tPoints">Points</th>
        </tr>
        <tr>
          <td>1</td>
          <td>user1</td>
          <td>3000</td>
        </tr>
        <tr>
          <td>2</td>
          <td>user2</td>
          <td>2500</td>
        </tr>
      </table>
    </div>
  </div>
</div>
