.container{
text-align: center;
}

.score-table{
    margin: 0 auto;
    width: 100%;
}

.score-table {
  border-collapse: separate;
  border-spacing: 12px;;
  width: 80%;
  text-align: center;

  tr {

  }

  th {
    padding: 15px;
    background-color: rgba(0, 48, 66, 0.301);
    border-radius: 10px;
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
  }

  td {
    padding: 15px;
    background-color: rgba(0, 187, 255, 0.193);
    border-radius: 10px;
    font-size: 24px;
    border: 2px solid rgb(0, 0, 0);
  }

  .tRank {
    width: 10%;
  }

  .tUser {
    width: 40%;
  }

  .tPoints {
    width: 30%;
  }
}
