.container{
text-align: center;
}

.score-table{
    margin: 0 auto;
    width: 100%;
}

.score-table {
  border-collapse: separate;
  border-spacing: 12px;;
  width: 80%;
  text-align: center;

  tr {

  }

  td {
    padding: 15px;
    background-color: rgba(0, 162, 255, 0.35);

  }

  .tRank {
    width: 10%;
  }

  .tUser {
    width: 40%;
  }

  .tPoints {
    width: 30%;
  }
}
