<div class="container">
  <h1>Game Page</h1>
  <button class="button2">Start</button>
  <button class="button2" (click)="navigateToHome()">Exit</button>
<br>

<div class="card-container">
  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="/website/public/images/Tile_1.png" alt="" class="card-img">
      </div>
      <div class="card-back">
        <img src="../../../../public/images/Tile_Back.png" alt="" class="card-img">
      </div>
    </div>
  </div>
</div>

</div>
