<div class="container">
  <!-- <h1>Game Page</h1>
  <button class="button2">Start</button> -->
  <div class="content">
    <div class="options">
      <button class="button3" (click)="navigateToHome()">Exit</button>
      <h1>Computer</h1>
    </div>

    <div class="container-bot">
      <table>
        <tr>
          <td *ngFor="let card of botCards"><img [src]="botsCardsVisible ? card.url : '../images/Tile_Back.png'" class="card-img" alt="card">
          </td>
        </tr>
      </table>
      <p>Points: 100</p>
    </div>

    <div class="container-piles">

      <div class="deck">
        <div class="draw">
          <h2>42</h2>
          <img src="../images/Tile_Back.png" alt="" class="deck-card">
        </div>
        <div class="discard">
          <img src="../images/Tile_Dragon1.png" alt="" class="deck-card">
          <h2>2</h2>
        </div>
      </div>
    </div>

    <div class="container-player">
      <p>Points: 100</p>
      <table>
        <tr>
          <td *ngFor="let card of displayedCards"><img [src]="card.url" [alt]="card.title" class="card-img"></td>
        </tr>
      </table>
      <div class="options">
        <div class="buttons">
        <button class="button2">Bet higher</button>
        <button class="button2">Bet lower</button>
        </div>
        <h1> Player Username</h1>
      </div>
    </div>

  </div>

</div>



<!-- <div class="card-container">
  <div class="card">
    <div class="card-inner">
      <div class="card-front">
        <img src="../images/Tile_1.png" alt="card front" class="card-img">
      </div>
      <div class="card-back">
        <img src="../images/Tile_Back.png" alt="card back" class="card-img">
      </div>
    </div>
  </div>
</div> -->
